extends layout

block content
  h1= title

  
  form(method="POST" action = "/new")
    div.form-group
      label(for = user) User:
      input#user.form-control(type ="text", placehodler = "UserName" name ="user")
      br
    div.form-group
      label(for = message) Text:
      input#message.form-control(type = "text",  name= "message")
      br
      button(type = "submit") Submit
      br
      br
      a(href='/') Go Home

